@model MembersVM

@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<div class="justify-content-center m-4">
    <form action="" class="p-4 me-5">
        <h3 class="text-center">@Localizer["Header"]</h3>
        @*<div>
            @ViewBag.studentId
        </div>*@
       
        <div class="d-flex row mt-3 me-5 justify-content-center">
            <label asp-for="MemberId" class="form-label col text-center">@Localizer["StudentID"]</label>
            <input asp-for="MemberId" class="form-control rounded-pill col text-center" readonly />
        </div>
        <div class="d-flex row mt-3 me-5 justify-content-center">
            <label asp-for="FullName" class="form-label col text-center">@Localizer["StudentName"]</label>
            <input asp-for="FullName" class="form-control rounded-pill col text-center" readonly />
        </div>
        <div class="d-flex row mt-3 me-5 justify-content-center">
            <label asp-for="Email" class="form-label col text-center">@Localizer["Email"]</label>
            <input asp-for="Email" class="form-control rounded-pill col text-center" readonly />
        </div>
        <div class="d-flex row mt-3 me-5 justify-content-center">
            <label asp-for="PhoneNo" class="form-label col text-center">@Localizer["PhoneNo"] </label>
            <input asp-for="PhoneNo" class="form-control rounded-pill col text-center" readonly />
        </div>
    </form>
</div>